<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://play-lh.googleusercontent.com/_ddhF4mVY0B7eRvsR8chVVIY-Q8DR1-4WOjqqcPTdrB10Csjd4vdXrbt4x7pEFgmKTA=w512" type="image/x-icon" />

    <title>Login | Ingress</title>
</head>

<body>

    <div class="login-page">
        <h1 style="text-align: center;font-size:40px">Login Ingress</h1>
        <form style="margin-top: 30px;" action="/login" method="post" class="form">
            <label for="username">Nombre Usuario: <input type="text" name="agent_name" id="user" /></label>
            <br />
            <label for="password">Password: <input type="password" name="password" id="password" /></label>
            <br />
            <input type="submit" value="Iniciar Sesión" />
            {% if error %}
            <p>Error en el usuario o contraseña. Vuelve a intentarlo</p>
            {% endif %}
            <br />
            <a href="/register">Registrarse</a>
        </form>

    </div>


</body>

</html>